.featured-wrapper {
  width: 100%;
  padding: 40px 20px;
}

.featured-inner {
  width: 100%;
  max-width: 1700px; 
  margin: 0 auto;
  position: relative;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.featured-slider {
  display: flex;
  width: max-content;         
  gap: 24px;
  padding: 20px 0;
}

.featured-title {
  font-size: 2.4rem;
  font-weight: 800;
  color: white !important; 
}

.featured-card {
  width: 300px;     
  height: auto;
  flex: 0 0 auto;
}

.featured-card .pokemon-card,
.featured-card .pokemon-card-back {
  width: 100%;
  height: 100%;
}

.featured-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none !important;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  transition: 0.2s;
  z-index: 30;
}

.slider-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.slider-button-left {
  left: -5px;
}

.slider-button-right {
  right: -5px;
}
