.signup-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.signup-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  background-image: url("/logo.png");
  background-size: 200px 200px;
  background-repeat: repeat;
  background-position: top left;
  z-index: 0;
  pointer-events: none;
}