name: Coveralls

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Start MongoDB 8.0
      uses: supercharge/mongodb-github-action@1.12.0
      with:
        mongodb-version: '8.0'

    - name: Install dependencies 
      run: npm install
    
    - name: Generate coverage info
      run: npm run coverage || true


    - name: Coveralls
      uses: coverallsapp/github-action@v2.3.6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}